@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

*{
  font-family: Outfit;
}

#exploreMenu::-webkit-scrollbar{
  display: none;
}
.active hr {
  @apply block
}
/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

